### Hourly prices (past 2k hours)

In [22]:
import requests
import pandas as pd
import json
res = requests.get('https://min-api.cryptocompare.com/data/histohour?fsym=BTC&tsym=USD&limit=2000&aggregate=1&e=CCCAGG')
btc = pd.DataFrame(json.loads(res.text)['Data'])
btc['coin'] = 'BTC'
res = requests.get('https://min-api.cryptocompare.com/data/histohour?fsym=ETH&tsym=USD&limit=2000&aggregate=1&e=CCCAGG')
eth = pd.DataFrame(json.loads(res.text)['Data'])
eth['coin'] = 'ETH'

df = btc.append(eth)
df.tail()

       close    high     low    open        time  volumefrom     volumeto coin
1996  281.82  285.37  280.28  285.27  1508803200    25436.03   7198394.75  ETH
1997  301.87  307.23  280.01  281.82  1508806800   113498.33  33829354.58  ETH
1998  303.99  310.68  301.35  301.87  1508810400    90657.42  27802053.44  ETH
1999  300.61  306.47  299.90  303.98  1508814000    24324.00   7377375.93  ETH
2000  302.89  301.38  300.49  300.61  1508817600     1586.72    477279.28  ETH

### Daily prices (past 2k day)

In [21]:
res = requests.get('https://min-api.cryptocompare.com/data/histoday?fsym=BTC&tsym=USD&limit=2000&aggregate=1&e=CCCAGG')
btc = pd.DataFrame(json.loads(res.text)['Data'])
btc['coin'] = 'BTC'
res = requests.get('https://min-api.cryptocompare.com/data/histoday?fsym=ETH&tsym=USD&limit=2000&aggregate=1&e=CCCAGG')
eth = pd.DataFrame(json.loads(res.text)['Data'])
eth['coin'] = 'ETH'

df = btc.append(eth)
df.head()

   close  high   low  open        time  volumefrom   volumeto coin
0   5.13  5.18  5.02  5.07  1336003200    35421.07  180427.18  BTC
1   5.07  5.15  5.07  5.13  1336089600    43629.49  223210.23  BTC
2   5.08  5.12  5.03  5.07  1336176000    18841.29   95532.52  BTC
3   5.05  5.10  5.01  5.08  1336262400    19299.91   97474.41  BTC
4   5.06  5.10  4.97  5.05  1336348800    46182.84  232779.55  BTC